<%= form_for(@groupparticipant) do |f| %>
  <% if @groupparticipant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupparticipant.errors.count, "error") %> prohibited this groupparticipant from being saved:</h2>

      <ul>
      <% @groupparticipant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :groupDescription_id %><br>
    <%= f.text_field :groupDescription_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
